# R package dependencies for OC SurgeWatch
# Install with:
#   install.packages(readLines("requirements.txt")[!grepl("^#|^$", readLines("requirements.txt"))])

# Data wrangling
tidyverse
janitor
readxl

# Bayesian modeling
brms
tidybayes
ggdist
loo
bayesplot
posterior

# Reporting
knitr
